.delete-device-btn {
  width: 30px;
}
.delete-device-container {
  width: 20px;
}
.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
  padding: 10px;
}

.modal-overlay {
  background: #ecececec;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: solid blue;
}

.modal-card {
  display: flex;
  width: 90%;
  height: 90%;
  max-width: 700px;
  max-height: 400px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.49);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.49);
}

.modal-card img {
  width: 200px;
}

.device-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.device-data {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.device-data h5 {
  color: #707070;
}

.device-local-select {
  border: solid 1px #0098da;
  border-radius: 10px;
  padding: 3px;
}

.device-local {
  display: flex;
  gap: 10px;
}

.device-local-input {
  width: 350px;
  background: none;
}

.modal-btn {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 5px;
}

.btn-close-modal {
  background: none;
  border: 0;
  cursor: pointer;
}

h3 {
  font-size: 17px;
}

.switch-delete-buttons {
  display: flex;
  align-items: center;
}
